.main-continer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-container .left-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.left-container .left-top-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.left-container .left-top-container .left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}

.left-container .left-top-container .right-box{
    width: 35%;
    height: 100%;
}

.left-container .left-bottom-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.left-container .left-bottom-container .left-box{
    width: 35%;
    height: 100%;
}

.left-container .left-bottom-container .right-box{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 65%;
    height: 100%;
}

.top-container .right-container {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.right-container .skills-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
}

.bottom-container .left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.bottom-container .right-container {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    padding: 10px; 
}

.bottom-container .right-container .ak-info {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid #FFFFFF;
}

.ak-fade-back {
    font-size: 200px;
    opacity: 0.4;
    position: absolute;
    left: -25px;
    top: -85px;
}

.ak-de-block {
    width: 100%;
    height: 45%;
    left: -25%;
    top: 25%;
    /* font-size: 72px; */
}

.ak-de-block .left {
    width: 50%;
    border: 10px solid #FFFFFF;
    font-size: 72px;
}

.ak-de-block .right {
    width: 50%;
    padding: 0 20px;
    font-size: 21px;
}

/* css for mobile view */

@media only screen and (max-width: 600px) {
    .main-continer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .top-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .top-container .left-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .left-container .left-top-container {
        display: flex;
        flex-direction: row;
        /* height: 50%; */
        height: 180px;
        width: 100%;
    }
    
    .left-container .left-top-container .left-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 100%;
    }
    
    .left-container .left-top-container .right-box{
        width: 35%;
        height: 100%;
    }
    
    .left-container .left-bottom-container {
        display: flex;
        flex-direction: row;
        height: 50%;
        width: 100%;
    }
    
    .left-container .left-bottom-container .left-box{
        width: 35%;
        height: 100%;
    }
    
    .left-container .left-bottom-container .right-box{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        padding: 30px;
        width: 65%;
        height: 100%;
    }
    
    .top-container .right-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .right-container .skills-container {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        padding: 30px;
    }
    
    .bottom-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 35%; */
    }
    
    .bottom-container .left-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: #2d2d2d;
    }
    
    .bottom-container .right-container {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 10px; 
    }
    
    .bottom-container .right-container .ak-info {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: 1px solid #FFFFFF;
        padding: 20px;
    }

    .ak-de-block {
        width: 100%;
        height: 45%;
        left: -35%;
        top: 25%;
        /* font-size: 72px; */
    }
    
    .ak-de-block .left {
        width: 65%;
        border: 6px solid #FFFFFF;
        font-size: 48px;
    }
    
    .ak-de-block .right {
        width: 35%;
        padding: 0 10px;
        font-size: 18px;
    }
}

/* css for mobile view */


.ak-works-block .left{
    background-image: url('../assests/cops.png');
    background-size: 100% 100%;
    box-sizing: border-box;
}

/* .ak-works-block .left::after{
    content: "";
    background-image: url('../assests/cops.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

.ak-works-block .right{
    background-image: url('../assests/anyday.png');
    background-size: 100% 100%;
    /* border-left: 2px solid rgba(245, 216, 73, 0.3);
    border-bottom: 2px solid rgba(245, 216, 73, 0.3); */
    box-sizing: border-box;
}

.bb-50 { 
    width: 50px;
    margin-top:5px;
    border-bottom: 2px solid rgba(245, 216, 73, 1);
 }