/* overide global css */
html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* blobal css */
.b-primary { background: #2d2d2d;}
.b-secondary { background: #F5D849;}
.b-white { background: #FFFFFF;}

.c-primary { color: #2d2d2d;}
.c-secondary { color: #F5D849;}
.c-white { color: #FFFFFF;}

.p-relative { position: relative; }
.p-absolute { position: absolute; }

.h-100 { height: 100%; }
.h-40 { height: 40%; }
.h-50 { height: 50%; }
.h-60 { height: 60%; }
.w-100 { width: 100%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }

.p-20 { padding: 20px; }
.p-30 { padding: 30px; }

.ff-ubuntu { font-family: 'Ubuntu', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }
.ff-roboto { font-family: 'Roboto', sans-serif; }

.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-21 { font-size: 21px; }
.fs-24 { font-size: 24px; }
.fs-36 { font-size: 36px; }
.fs-48 { font-size: 48px; }

.fw-bold { font-weight: bold; }

.link { cursor: pointer; }

/* layout styles */
.d-flex { display: flex; }
.fd-row { display: flex; flex-direction: row; box-sizing: border-box; }
.fd-row-reverse { display: flex; flex-direction: row-reverse; box-sizing: border-box; }
.fd-column { display: flex; flex-direction: column; box-sizing: border-box; }
.fd-column-reverse { display: flex; flex-direction: column-reverse; box-sizing: border-box; }
.ai-center { align-items: center; }
.ai-flex-end { align-items: flex-end; }
.jc-center { justify-content: center; }
.jc-space-between { justify-content: space-between; }
.jc-space-around { justify-content: space-around; }
.jc-space-evenly { justify-content: space-evenly; }

/* margins & paddings */
.m-l-40 { margin-left: 40px; }
.m-l-20 { margin-left: 20px; }
.m-l-10 { margin-left: 10px; }
.m-r-40 { margin-right: 40px; }
.m-r-20 { margin-right: 20px; }
.m-r-10 { margin-right: 10px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-5 { margin-bottom: 5px; }
.m-b-10 { margin-bottom: 10px; }
.m-t-5 { margin-top: 5px; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
